@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", serif;
}

body{
    background-color: #55CECE;

}
.card{ 
    width: 30rem;
    background-color: gold;
    border-radius: 10px;

}

.card-image-container{
    width: 100%;
}

.card-image-container img{
    width: 100%;
    
}

.card-info-container button{
    border: none;
    
    
}

